<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Questionnaire sur le numérique et l'éducation</title>
    <script src="vue.js"></script>
    <script src="marked.min.js"></script>
    <link rel="stylesheet" href="questionnaire_PJS1.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- <link rel="stylesheet" href="normalize.css"> -->
    <link rel="stylesheet" href="bootstrap.min.css">

  </head>
  <body>
    <div id="app">
      <div id="appContent" class="container">
        <!-- INTRODUCTION --------------------->
        <div id="introBox" v-if="introduction_step < 3">
          <img src="logo_numedu_txt.png" alt="Numérique & Education" />
          <div v-if="introduction_step == 0">
            <p>
              Bonjour, je suis Logan, un étudiant en informatique à l'IUT de l'Université de Paris.<br>
              Dans le cadre de nos études, nous devons mener un PJS1. Le PJS1, c'est tout simplement un grand exposé en groupe dont le rapport devra être écrit sur du support numérique tel qu'un site web.
            </p>
            <p>
              Finalement, c'est assez proche des TPEs que l'on peut avoir en classe première générale.
            </p>
          </div>
          <div v-else-if="introduction_step == 1">
            <p>Le sujet de nos recherches porte sur l'utilisation du numérique en classe, manier cet outil au service de l'éducation, tant du côté du prof que du côté des élèves.<br>
              Ce formulaire s'adapte en fonction de vos réponses.
            </p>

            Tout en répondant à nos questions, nous donnons des éléments de nos résultats de recherche, on espère donc que vous apprendrez certains points de notre sujet tout en faisant cela !
          </div>
          <div v-else="">
            <p>Faisons connaissance !<br>
              Quel est votre joli prénom d'usage (si vous tenez à rester anonyme, inventez un prénom) </p>

              <input type="text" v-model="entities.player.name">
          </div>
          <div class="">
            <a href="#!" class="btn" @click="introduction_nextStep()">{{button_msg[introduction_step]}}</a>
          </div>

        </div>

        <!-- CONTENU DU TCHAT --------------------->
        <div v-else="" id="tchat">
          <div class="history">
            <div class="messageContainer" v-for="msg in bot_conversation">
              <img class="profile_pic" :src="entities[msg.by].profile_pic"></img>
              <div class="msgbody">
                <div class="">
                  {{entities[msg.by].name}}
                </div>
                <div v-if="msg.opensModal">
                  <a href="#!" @click="openModal(msg.msg)">
                    <img src="eyeglasses.png" alt="" class="emoji">
                    Cliquez pour en savoir plus
                  </a>
                </div>
                <div v-else="" v-html="msg.msg">

                </div>
              </div>
            </div>
          </div>
          <div class="input">
            <div class="inputText" v-if='inputState == "waitingText"'>
              <textarea id="userTextInput" name="name" rows="4" cols="80" class="form-control" ></textarea>
              <button type="button" class="btn btn-primary" @click="sendMessage">Envoyer</button>
            </div>
            <div class="inputBtns" v-else-if='inputState == "waitingChoice"'>

            </div>
            <div class="inputContinue" v-else-if='inputState == "waitingContinue"'>
              <button type="button" class="btn btn-primary" @click="sentText = 1">Continuer</button>
            </div>
            <div class="inputDisabled" v-else="">
              ...
            </div>
          </div>
        </div>

      </div>
      <div v-if="modalContent != 0">
        <div :html="modalContent">

        </div>
        <div class="">
          <button type="button" name="closeModal">Fermer et continuer</button>
        </div>
      </div>
    </div>
    <script src="questionnaire_PJS1.js" charset="utf-8"></script>
  </body>
</html>
