@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  background-color: #f2bf38;
  color: rgba(255, 255, 255, 0.7);
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
}
html, #app, #appContent {
  height: 100%;
}
#appContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*width: 980px;
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;*/
}
#introBox {
  width: 50%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  max-height: 90vh;
}
#introBox .btn {
  color: white;
  background: #7289DA;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}
img.profile_pic {
  width: 44px;
  height: 44px;
}
.messageContainer {
  display: flex;
  margin: 1em;
}
.messageContainer:hover {
  background: #23272A;
}
.msgbody {
  margin-left: 1em;
}
.emoji {
  width: 1em;
  height: 1em;
}
#tchat {
  background-color: #f7c851;
}
/*
Bleu-violet
#7289DA
CMYK 56, 43, 0, 0
Blanc immaculé
#FFFFFF
CMYK 0, 0, 0, 0
Gris-violet
#99AAB5
CMYK 42, 26, 23, 0
Sombre, mais pas noir
#2C2F33
CMYK 74, 65, 59, 60
Pas noir mais presque
#23272A
CMYK 75, 66, 61, 67
Vraiment noir
#000000
CMYK 0, 0, 0, 100
*/
