@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
html, body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0;
  color: black;
  background-color: #f2bf38;
}
#app {
  margin: 0;
  width: 100%;
}
#appContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
  transition: all 0.5s;
}

#tchat {
  background-color: #f7c851;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#tchat .history {
  flex-grow: 1;
  overflow: auto;
}
#tchat .input {
  padding: 1em;
}


.inputText button, .inputContinue button {
  margin: 1em;
}

.inactive {
  filter: blur(5px);
}
#introBox {
  align-self: center;
  overflow-y: auto;
  min-height: 50vh;
  max-height: 90vh;
}
#introBox .btn {
  color: white;
  background: #7289DA;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}
img.profile_pic {
  width: 44px;
  height: 44px;
}
.messageContainer {
  display: flex;
  margin: 1em;
}
.messageContainer:hover {
  background: #f2bf38;
}
.msgbody {
  margin-left: 1em;
}
.emoji {
  width: 1em;
  height: 1em;
}

/* The device with borders */
.tablet {
  position: relative;
  height: 100vh;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.tablet:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.tablet:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

@media (min-width:768px) {
  .tablet {
    max-width: 80vh;
  }
}
