<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Questionnaire sur le numérique et l'éducation</title>

  <meta property="og:type" content="website">
  <meta property="og:title" content="Enquête : Numérique et Education">
  <meta property="og:description" content="Sondage : Votre avis sur l'utilisation du numérique en tant qu'outil pédagogique">
  <meta property="og:url" content="https://logantann.github.io/questionnaire-numedu">

  <meta property="og:image" content="https://logantann.github.io/questionnaire-numedu/og-image.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="627">
  <meta property="og:image:alt" content="Nous avons besoin de votre opinion">

  <meta property="og:author" content="Logan TANN">
  <meta property="og:locale" content="fr_FR">

  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

</head>
<body class="">
  <div id="app" class="row">
    <div id="navbar" class="col-sm-12 col-md-3 d-flex flex-column justify-content-around text-center"  v-bind:class="{ inactive: modalContent != 0 }" >
      <div class="">
        <img src="logo_numedu_txt.png" alt="Numérique & Education"/>
        <div class="d-none d-md-block">
          <h1>Sondage : Votre avis sur le numérique au service de l'éducation</h1>
        </div>
      </div>
      <div class="text-justify" style="font-size: 0.8em">
        <p>La conversation est sauvegardée dans le LocalStorage de votre navigateur à des fins de récupération. Ces données seront envoyées dans notre serveur après votre validation.</p>
        <a href="#!" @click="confirmAbortAndSave" v-if="inputState != 'ended' && introduction_step > 2">Cliquez ici si vous souhaitez abandonner et envoyer vos données</a>
      </div>
      <div class="d-none d-md-block">
        <img alt="PJS1 Le numérique au service de l'éducation." src="footer.png"></img>
      </div>
    </div>
    <div class="col-sm-12 col-md-1"><!--empty --></div>
    <div class="col-sm-12 col-md-7 col-lg-7 m-auto"  v-bind:class="{ inactive: modalContent != 0 }" >
      <div id="appContent" class="tablet">

        <!-- INTRODUCTION --------------------->
        <div id="introBox" v-if="introduction_step < 3" class="container d-flex flex-column justify-content-between">
          <div v-if="introduction_step == 0">
            <p>
              Bonjour, je suis Logan, un étudiant en informatique à l'IUT de l'Université de Paris.<br>
              Dans le cadre de nos études, nous devons mener un PJS1. Le PJS1, c'est tout simplement un grand exposé en groupe dont le rapport devra être écrit sur du support numérique tel qu'un site web.
            </p>
            <p>
              Finalement, c'est assez proche des TPEs que l'on peut avoir en classe première générale.
            </p>
          </div>
          <div v-else-if="introduction_step == 1">
            <p>Le sujet de nos recherches porte sur l'utilisation du numérique en classe, manier cet outil au service de l'éducation, tant du côté du prof que du côté des élèves.<br>
              Ce formulaire s'adapte en fonction de vos réponses, mais selon la quantité de texte que vous écrirez, le temps moyen nécessaire pour répondre à celui-ci est de moins de 25 minutes.
            </p>

            Tout en répondant à nos questions, nous donnons des éléments de nos résultats de recherche, on espère donc que vous apprendrez certains points de notre sujet tout en faisant cela !
          </div>
          <div v-else="">
            <p>Faisons connaissance !<br>
              Quel est votre joli prénom d'usage (si vous tenez à rester anonyme, inventez un prénom) </p>

              <input type="text" class="form-control" v-model="entities.player.name">
          </div>
          <div class="row">
            <a href="#!" class="btn btn-lg col-sm-10 col-lg-7" @click="introduction_nextStep()">{{button_msg[introduction_step]}}</a>
          </div>
        </div>


        <!-- CONTENU DU TCHAT --------------------->
        <div v-else="" id="tchat">
          <div class="history">
            <div class="messageContainer" v-for="msg in bot_conversation">
              <img class="profile_pic" :src="entities[msg.by].profile_pic"></img>
              <div class="msgbody">
                <div class="">
                  {{entities[msg.by].name}}
                </div>
                <div v-if="msg.opensModal">
                  <a href="#!" @click="openModal(msg.msg)">
                    <img src="../res/eyeglasses.png" alt="" class="emoji">
                    Cliquez pour en savoir plus
                  </a>
                </div>
                <div v-else="" v-html="msg.msg">

                </div>
              </div>
            </div>
          </div>

          <div class="input">
            <div class="inputText d-flex" v-if='inputState == "waitingText"'>
              <textarea id="userTextInput" name="name" rows="4" cols="80" class="form-control" ></textarea>
              <button type="button" class="btn btn-primary" @click="sendMessage">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-reply-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M9.079 11.9l4.568-3.281a.719.719 0 0 0 0-1.238L9.079 4.1A.716.716 0 0 0 8 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z"/></svg>
              </button>
            </div>
            <div class="inputBtns" v-else-if='inputState == "waitingChoice"'>
              <div class="description">
                {{choicesContent.choice}}
              </div>
              <div class="buttons_conntainer">
                <button type="button" v-for="(action, text) in choicesContent" @click="sentText = text" v-if="text != 'choice'" class="btn btn-primary btn-sm btn-block">{{text}}</button>
              </div>
            </div>
            <div class="inputContinue" v-else-if='inputState == "waitingContinue"'>
              <button type="button" class="btn btn-primary" @click="sentText = 1">Continuer</button>
            </div>
            <div class="inputSubmit" v-else-if='inputState == "ended"'>
              <form method="post" action="https://kagescan.fr/upload/pjs1numedu/">
                <input type="hidden" name="sender" :value="entities.player.name">
                <input type="hidden" name="conversation" :value="submitValue">
                <p>La conversation est terminée ! <br>La dernière étape est d'envoyer celle-ci vers notre serveur, en cliquant sur le bouton ci-dessous :</p>
                <button type="submit" class="btn btn-primary btn-large">Cliquez ici pour envoyer</button>
                <br>
                <p>Alternativement, vous pouvez réinitialiser la conversation pour recommencer la conversation :</p>
                <a class="btn btn-secondary btn-small" @click="resetConversation">Annuler, supprimer et recommencer la conversation</a>
              </form>
            </div>
            <div class="inputDisabled" v-else="">
              <span v-if="isBotTyping"> {{entities["bot"].name}} est en train d'écrire... </span>
            </div>
          </div>
        </div> <!-- tchat-->
      </div> <!-- appcontent -->
    </div> <!-- .tablet-->

    <!-- POPUP --------------------->
    <div v-if="modalContent != 0" class="modal fade show" style="display: block; overflow: auto;">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              <img src="../res/eyeglasses.png" alt="" class="emoji">
              Explication
            </h5>
            <button type="button" @click="closeModal" class="close">
              <span>×</span>
            </button>
          </div>
          <div class="modal-body" v-html="modalContent">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="closeModal">Fermer</button>
          </div>
        </div>
      </div>
    </div> <!-- popup -->

  </div> <!-- app -->


  <script src="script.js" charset="utf-8"></script>
  <script src="main.js" charset="utf-8"></script>
</body>
</html>
