
      body {
        font-family: Montserrat, sans-serif;
      }
      header {
        display: flex;
        height: 100vh;
        background-size: cover;
        background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5) ), url("headerBackground.jpg");
        background-position: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-attachment: scroll, fixed;
      }
      header h2 {
        text-align: center;
      }
      h2 {
      }
      .FrederickaFont, h2 {
        font-family: "Fredericka the Great", Montserrat, sans-serif;
      }
      .OswaldFont {
        font-family: Oswald, Montserrat, sans-serif;
      }
      header img {
        max-width: 90%;
      }
      header div {
        height: 40vh;
      }
      .AyanoParallax {
        background: url("ltmNight.jpg");
        position: relative;
      }
      .EneParallax {
        background: url("street1.jpg");
      }
      .AyanoParallax, .EneParallax {
        background-attachment: fixed;
        background-size: cover;
      }

       .EneParallax>div {
        display: flex;
        justify-content: center;
      }

      .AyanoParallax>div>img {
        top: 20vh;
        left:10vw;
      }

      .EneParallax>div>img {
        top: 20vh;
      }
      .charactersParallax {
        position: relative;
      }
      .flow-text {
        text-align: justify;
      }
      #downloadPart {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        background: rgba(16,16,16,0.5);
        width: 55vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1em;
        font-size: 1.2em;
        text-align: center;
      }
      @media screen and (max-width: 600px) {
        #downloadPart {
          top: 0;
          left: 0;
          transform: none;
          width: 95vw;
          position: relative;
        }
        .AyanoParallax .simpleParallax {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      #downloadPart a {
        color: black;
        background: #cc403f;
        display: block;
        padding: 1em;
        margin-top: 1em;
        font-weight: bold;
        border: 2px solid white;
      }
      #downloadPart .advanced a {
        color: #DDD;
        background: #642c32;
        font-size: 0.7em;
      }
#notesFromAuthors {
  font-size: 1.2em;
}
#notesFromAuthors b{
  color: #EF5350;
}
#kagescanLogo {
  width: 100%;
}
#credits {
  font-size: 12pt;
}
.collection .collection-item{
  background-color: black;
}
.spoiler {
  color: #111;
  background: #111;
  transition: all 0.5s;
  border-radius: 2px;
  padding:2px;
}
.spoiler:hover {
  color: white;
}
#languagePicker {

  position: fixed;
  right: 1em;
  top: 1em;
}

#languagePicker>a {
  display: inline-flex;
}
#worldIcon {
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='globe' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' class='svg-inline--fa fa-globe fa-w-16 fa-2x'%3E%3Cpath fill='currentColor' d='M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm193.2 152h-82.5c-9-44.4-24.1-82.2-43.2-109.1 55 18.2 100.2 57.9 125.7 109.1zM336 256c0 22.9-1.6 44.2-4.3 64H164.3c-2.7-19.8-4.3-41.1-4.3-64s1.6-44.2 4.3-64h167.4c2.7 19.8 4.3 41.1 4.3 64zM248 40c26.9 0 61.4 44.1 78.1 120H169.9C186.6 84.1 221.1 40 248 40zm-67.5 10.9c-19 26.8-34.2 64.6-43.2 109.1H54.8c25.5-51.2 70.7-90.9 125.7-109.1zM32 256c0-22.3 3.4-43.8 9.7-64h90.5c-2.6 20.5-4.2 41.8-4.2 64s1.5 43.5 4.2 64H41.7c-6.3-20.2-9.7-41.7-9.7-64zm22.8 96h82.5c9 44.4 24.1 82.2 43.2 109.1-55-18.2-100.2-57.9-125.7-109.1zM248 472c-26.9 0-61.4-44.1-78.1-120h156.2c-16.7 75.9-51.2 120-78.1 120zm67.5-10.9c19-26.8 34.2-64.6 43.2-109.1h82.5c-25.5 51.2-70.7 90.9-125.7 109.1zM363.8 320c2.6-20.5 4.2-41.8 4.2-64s-1.5-43.5-4.2-64h90.5c6.3 20.2 9.7 41.7 9.7 64s-3.4 43.8-9.7 64h-90.5z' class=''%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: center;
  width: 1em;
  display: inline-block;
  height: auto;
  height: 100%;
  margin-right: 0.5em;
}
